################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/a-star-visualization-zeintry/v16
/.vs
